@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Ropa+Sans&family=Texturina&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-image: linear-gradient(to bottom right, #5F0530, black 15%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin: 10px 25px;
    padding: 5px;
    color: white;
    width: 100%;
    }

header h1{
    font-size: 50px;
    font-family: "nunito";

}

header div{
    justify-content: space-around;
    padding: 10px;
    margin-right: 65px;
    height: auto;
}

.menu{
    display: flex;
    align-items: initial;
    flex-direction: column;
    padding: 25px;
    position: relative;
}

.menu-botao{
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 50px;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 8px;
}